
// Padding
.m {
  margin: 8px;
}

.mn {
  margin: 4px;
}

.mm {
  margin: 16px;
}

.mmm {
  margin: 32px;
}

.m0 {
  margin: 0px;
}

// Top
.mt {
  margin-top: 8px;
}

.mtn {
  margin-top: 4px;
}

.mtt {
  margin-top: 16px;
}

.mttt {
  margin-top: 16px;
}

.mt0 {
  margin-top: 0px;
}

.mb {
  margin-bottom: 8px;
}

// Bottom
.mbb {
  margin-bottom: 4px;
}

.mbb {
  margin-bottom: 16px;
}

.mbbb {
  margin-bottom: 32px;
}

.mb0 {
  margin-bottom: 0px;
}

// Left
.ml {
  margin-left: 8px;
}

.mln {
  margin-left: 4px;
}

.mll {
  margin-left: 16px;
}

.mlll {
  margin-left: 32px;
}

.ml0 {
  margin-left: 0px;
}

// Right
.mr {
  margin-right: 8px;
}

.mrn {
  margin-right: 4px;
}

.mrr {
  margin-right: 16px;
}

.mrrr {
  margin-right: 32px;
}

.mr0 {
  margin-right: 0px;
}

// Horizontal
.mh {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mhn {
  margin-left: 4px;
  margin-bottom: 4px;
}

.mhh {
  margin-left: 16px;
  margin-bottom: 16px;
}

.mhhh {
  margin-left: 32px;
  margin-bottom: 32px;
}

.mh0 {
  margin-left: 0px;
  margin-bottom: 0px;
}

// Vertical
.mv {
  margin-right: 8px;
  margin-left: 8px;
}

.mvn {
  margin-right: 4px;
  margin-left: 4px;
}

.mvv {
  margin-right: 16px;
  margin-left: 16px;
}

.mvvv {
  margin-right: 32px;
  margin-left: 32px;
}

.mv0 {
  margin-right: 0px;
  margin-left: 0px;
}