
// Padding
.p {
  padding: 8px;
}

.pm {
  padding: 4px;
}

.pp {
  padding: 16px;
}

.ppp {
  padding: 32px;
}

.p0 {
  padding: 0px;
}

// Top
.pt {
  padding-top: 8px;
}

.ptm {
  padding-top: 4px;
}

.ptt {
  padding-top: 16px;
}

.pttt {
  padding-top: 16px;
}

.pt0 {
  padding-top: 0px;
}

.pb {
  padding-bottom: 8px;
}

// Bottom
.pbm {
  padding-bottom: 4px;
}

.pbb {
  padding-bottom: 16px;
}

.pbbb {
  padding-bottom: 32px;
}

.pb0 {
  padding-bottom: 0px;
}

// Left
.pl {
  padding-left: 8px;
}

.plm {
  padding-left: 4px;
}

.pll {
  padding-left: 16px;
}

.plll {
  padding-left: 32px;
}

.pl0 {
  padding-left: 0px;
}

// Right
.pr {
  padding-right: 8px;
}

.prm {
  padding-right: 4px;
}

.prr {
  padding-right: 16px;
}

.prrr {
  padding-right: 32px;
}

.pr0 {
  padding-right: 0px;
}

// Horizontal
.ph {
  padding-top: 8px;
  padding-bottom: 8px;
}

.phm {
  padding-left: 4px;
  padding-bottom: 4px;
}

.phh {
  padding-left: 16px;
  padding-bottom: 16px;
}

.phhh {
  padding-left: 32px;
  padding-bottom: 32px;
}

.ph0 {
  padding-left: 0px;
  padding-bottom: 0px;
}

// Vertical
.pv {
  padding-right: 8px;
  padding-left: 8px;
}

.pvn {
  padding-right: 4px;
  padding-left: 4px;
}

.pvv {
  padding-right: 16px;
  padding-left: 16px;
}

.pvvv {
  padding-right: 32px;
  padding-left: 32px;
}

.pv0 {
  padding-right: 0px;
  padding-left: 0px;
}